@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli.eot');
	src: url('../fonts/Muli.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Muli.woff') format('woff'),
		url('../fonts/Muli.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arsenal';
	src: url('../fonts/Arsenal-Regular.eot');
	src: url('../fonts/Arsenal-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Arsenal-Regular.woff') format('woff'),
		url('../fonts/Arsenal-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arsenal';
	src: url('../fonts/Arsenal-Italic.eot');
	src: url('../fonts/Arsenal-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Arsenal-Italic.woff') format('woff'),
		url('../fonts/Arsenal-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
body
{
margin:0;
border:0;
padding:0;
width:100%;
}
div.Background{
width:100%;
height:640px;
background-image:url(../images/TechtunersBanner.jpg);
background-size: cover;
background-repeat: no-repeat;
}
div.Sitewidth, div.MnHdrSitewidth
{
	width:100%;
	max-width: 1200px;
	margin:0 auto;	
}
div.MainHdr{	
	width:100%;
	display:block;
	margin:0;
	padding:0;
}
div.MnHdr{
	background-color:#141d35;
	width:100%;
	display:block;
	margin:0;
	padding:0;
}
div.MnHdr div.Wrapper{
	width:100%;
	height:auto;	
}
div.MnHdr div.MainHdrSctn 
{
	width:100%;
	display:inline-block;
	text-align: right;
}
div.MainHdr div.HdrSctn, div.MnHdr div.HdrSctn 
{
	width:100%;
	display:none;
	text-align: right;
}
div.MainHdr div.MainHdrSctn  div.HdrSctn div.LftTopHdr, div.MnHdr div.MainHdrSctn  div.HdrSctn div.LftTopHdr{
	width: 60%;
	display: inline-block;	
}
div.MainHdr div.MainHdrSctn  div.HdrSctn div.RgtTopHdr, div.MnHdr div.MainHdrSctn  div.HdrSctn div.RgtTopHdr{
	width:40%;
	display: none;		
}
div.MainHdr div.MainHdrSctn  div.HdrSctn div.RgtTopHdr div.RgtCntnt, div.MnHdr div.MainHdrSctn  div.HdrSctn div.RgtTopHdr div.RgtCntnt{
	width:100%;
	display:inline-block;	
}
div.MainHdr div.MainHdrSctn div.HdrSctn div.RgtTopHdr div.Cart, div.MnHdr div.MainHdrSctn div.HdrSctn div.RgtTopHdr div.Cart{
	width:25%;
	display:inline-block;	
}
div.MainHdr div.MainHdrSctn div.HdrSctn div.RgtTopHdr div.Cart img, div.MnHdr div.MainHdrSctn div.HdrSctn div.RgtTopHdr div.Cart img{
	display: inline-block;
	text-align: right;
	padding-top: 6px;
}
div.MainHdr div.MainHdrSctn div.HdrSctn div.RgtTopHdr div.LoginBttn, div.MnHdr div.MainHdrSctn div.HdrSctn div.RgtTopHdr div.LoginBttn
{
	width:40%;
	display:inline-block;
	vertical-align: top;
}
div.MnHdr div.MainHdrSctn div.HdrSctn div.RgtTopHdr div.divider
{
	width:4%;
	display:inline-block;
	vertical-align: top;
	padding-top:10px;
}
div.MnHdr div.MainHdrSctn div.HdrSctn div.RgtTopHdr div.LogoutBttn
{
	width:23%;
	display:inline-block;
	vertical-align: top;
	padding-top:10px;
}
div.MainHdr div.MainHdrSctn div.HdrSctn div.RgtTopHdr div.LoginBttn a, div.MnHdr div.MainHdrSctn div.HdrSctn div.RgtTopHdr div.LoginBttn a
{
	display: inline-block;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 3px 32px;    
    text-decoration: none;   
    font-size: 18px;	
    margin: 4px 0px;
    cursor: pointer;
	border-radius:18px;
	font-family: 'Muli';	
}
div.MnHdr div.MainHdrSctn div.HdrSctn div.RgtTopHdr div.LogoutBttn a, div.MnHdr div.MainHdrSctn div.HdrSctn div.RgtTopHdr div.divider
{
	display: inline-block;    
    color: #ffffff;     
    text-decoration: none;   
    font-size: 18px;    
    cursor: pointer;	
	font-family: 'Muli';	
}
div.MnHdr div.MainHdrSctn div.HdrSctn div.RgtTopHdr div.Profile
{
	width:48%;
	display:inline-block;
	vertical-align: top;	
}

div.MnHdr div.MainHdrSctn div.HdrSctn div.RgtTopHdr div.RgtCntnt span.ProfileTxt
{
	display: inline-block;    
    color: #2bb17f;  
    text-align: right;
    text-decoration: none;   
    font-size: 18px;	    
    cursor: pointer;	
	font-family: 'Muli';
	padding-top:10px;
}
div.MnHdr div.MainHdrSctn div.HdrSctn div.RgtTopHdr div.LoginBttn a:hover
{
	background-color: #3a4253;
    color: #ffffff;	
}
div.MenuHldr
{
	width:100%;
	display: inline-block;	
	margin:0;
}
div.MenuHldr div.Lstdropdown
{
	display:none;
}
div.MenuHldr div.LogoHldr
{
	width:25%;
	display: inline-block;
	padding: 60px 0 20px 0
}
div.MenuHldr div.LogoHldr img
{
display: block;
}
div.MenuHldr div.NavMenu
{
	width:75%;
	display: inline-block;
	vertical-align:top;
	text-align: right;
	padding: 60px 0 20px 0
}
div.MenuHldr div.NavMenu ul.Lstmenu
{
	display:inline-block;	
}
div.MenuHldr div.NavMenu ul li
{
	display:inline-block;
	margin-left:60px;	
}
div.MenuHldr div.NavMenu ul li a
{
	color:#ffffff;
	display:block;
	font-family: 'Muli';
	text-decoration: none;
	font-size:16px;
	padding:15px 0 15px 15px;
}
.dropbtn {
    color: #141d35;   
    font-size: 16px;
    border: none;
    cursor: pointer;
	text-decoration: none;	
	display:block;
}
.dropbtn:hover{
    color: #2bb17f;
}
.dropbtn a:hover{
    color: #2bb17f;	
}
div.MenuHldr div.NavMenu ul li a:hover {
	color:#2bb17f;	
}
div.MenuHldr div.NavMenu ul li a.active
{
	color:#2bb17f;	
}
.dropdown {
    position: relative;
    display: inline-block;	
}
.dropdown-content {	
    display: none;
    position: absolute;
    background-color: #141d35;
    min-width: 160px;    
    z-index: 1;	
	margin-bottom:35px;	
}
.dropdown-content a {	
    color: #ffffff;
    padding: 14px 10px;
    text-decoration: none;
    display: block;	
	text-align: left;
	border:none;	
}
.dropdown-content a:hover {
	background-color: #4a4a5d;	
}
.dropdown:hover .dropdown-content {
    display: block;
	padding-top:35px;	
}
.Mndropbtn {
    color: #141d35;   
    font-size: 16px;
    border: none;
    cursor: pointer;
	text-decoration: none;	
	display: block;
}
.Mndropbtn:hover{
    color: #2bb17f;
}
.Mndropbtn a:hover{
    color: #2bb17f;	
}
.Mndropdown {
    position: relative;
    display: inline-block;	
}
.Mndropdown-content {	
    display: none;
    position: absolute;    
    min-width: 140px;    
    z-index: 1;	
	margin-bottom:35px;	
}
.Mndropdown-content a {	
    color: #ffffff;
    padding: 14px 10px;
    text-decoration: none;
    display: block;	
	text-align: left;
	border:none;	
}
.Mndropdown-content a:hover {
	background: rgba(255,255,255,0.1);
}
.Mndropdown:hover .Mndropdown-content {
    display: block;
	padding-top:35px;	
}
div.Banner div.BnnrSctn
{
	width:100%;
	display:block;
	padding-top:200px;
}
div.Banner div.BnnrSctn span.BnnrTtl
{
	display:block;
	color:#ffffff;
	font-family: 'Arsenal';
	font-size: 38px;
	text-align: center;
	padding-bottom:20px;
}
div.Banner div.BnnrSctn span.BnnrSubTtl
{
	display:block;
	color:#ffffff;	
	font-size: 20px;
	text-align: center;
	font-family: 'Arsenal';
}
div.Experts div.Technology
{
	width:100%;
	display:inline-block;
	padding: 30px 0 30px 0;
}
div.Experts div.Technology div.TchExpertsLst
{
	width:33.33%;
	display:inline-block;
	text-align: center;
	vertical-align:top;
}
div.Experts div.Technology div.TchExpertsLst div.ExprtIcon{
	padding-bottom:10px;
}
div.Experts div.Technology div.TchExpertsLst div.TltSctn
{
	font-family: 'Arsenal';
	font-size:22px;	
	color:#141d35;	
	display:block;
}
div.Experts div.Technology div.TchExpertsLst div.SubTltSctn span.LstSubTitle
{
	font-family: 'Muli';
	font-size:18px;
	color:#2bb17f;
	display:block;
	margin: 0 20px 0 20px;
}
div.IndSrvd div.IndSrvdLst{
	width:100%;
	padding:30px 0 10px 0;
}
div.IndSrvd div.IndSrvdLst div.MnTtlSctn{
	width:100%;
	text-align: center;	
}
div.IndSrvd div.IndSrvdLst div.MnTtlSctn span.MnTtl{
	font-family: 'Arsenal';
	font-size:24px;	
	color:#141d35;
	text-align: center;	
}
div.IndSrvd div.IndSrvdLst div.SrvdLst{
	width:25%;
	display:inline-block;
	vertical-align: top;
}
div.IndSrvd div.IndSrvdLst div.SrvdLst div.TltSctn{
	border-bottom:1px solid#141d35;	
	text-align: center;
	padding: 40px 0 10px 0;
	margin: 0 20px 0 20px;	
}
div.IndSrvd div.IndSrvdLst div.SrvdLst div.TltSctn span.LstTitle{	
	color:#141d35;		
	text-align: center;
	font-family: 'Arsenal';
	font-size:24px;	
}
div.IndSrvd div.IndSrvdLst div.SrvdLst div.LstSctn span.LstTxt{
	font-family: 'Muli';
	font-size:18px;
	color:#2bb17f;
	text-align: center;	
}
div.IndSrvd div.IndSrvdLst div.SrvdLst div.LstSctn ul.TxtLst
{
	margin-left:-40px;
}
div.IndSrvd div.IndSrvdLst div.SrvdLst div.LstSctn ul li
{
	list-style-type: none;
	padding: 20px;	
	text-align: center;
}
div.TCWrapper, div.TandCWrapper
{
	height:auto;
}
div.CntctWrapper, div.AbtWrapper
{
	height:  auto;
}
div.Wrapper, div.Rezy100Wrapper, div.Rezy360Wrapper
{
	background-color: #e0e0e0;
	height:auto;
	border-top: 3px solid#2bb17f;
	padding-bottom: 10px;
}
div.QNREWrapper
{
	background-color: #e0e0e0;
	height:auto;
	
}
div.ProfileSctn div.Wrapper
{
	background-color: #e0e0e0;
	height:auto;
}
div.ProfileSctn div.ProfileLst
{
	width:100%;
	display: inline-block;	
}
div.ProfileSctn div.ProfileLst div.LftMenuLst
{
	width:32%;
	display: inline-block;
	background-color: #ffffff;
	margin-right:3%;
	
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst
{
	width:65%;	
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
	background-color: #ffffff;	
}
div.ProfileSctn div.ProfileLst div.LftMenuLst ul
{
	list-style-type: none;
	margin-left:-20px;
}
div.ProfileSctn div.ProfileLst div.LftMenuLst ul li a
{
	text-decoration: none;
	display:block;
	color:#141d35;
	font-family: 'Arsenal';
	font-size:24px;
	border-bottom:1px solid#141d35;	
	padding: 20px 40px 20px 0;
	text-align: center;
	margin-right: 20px;
}
div.ProfileSctn div.ProfileLst div.LftMenuLst ul li a:hover
{	
	color:#2bb17f;	
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst .PrflFrmFld{
	width:98%;
	margin: 0 auto;	
	font-family: 'Muli';
	color:#2bb17f;
	font-size:24px;
	text-align: center;
	margin-left:1%;
	margin-right:1%;
	
}

div.ProfileSctn div.ProfileLst div.RgtMenuLst .PrflFrmFld ul li{
	font-family: 'Muli';
	color:#2bb17f;
	font-size:24px;
	list-style-type: none;
	text-align: left;
	
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst .PrflFrmFld ul.LstTxtFld{
	margin-left:-40px;
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst div.FrmLstSctn{
	width:100%;
    margin: 0 auto;
	display:inline-block;
	padding: 40px 0 59px 0;	
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst div.FrmLstSctn div.BttnHldr
{
	width:100%;
	text-align: center;
	display:block;
	padding-bottom:40px;
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst .OrderHistory
{
	width:100%;
	margin: 0 auto;	
}

div.ProfileSctn div.ProfileLst div.RgtMenuLst ul li.OHTxtFld{
	padding: 10px 0 10px 0;
}

div.ProfileSctn div.ProfileLst div.RgtMenuLst ul li.OHTxtFld
{
	display: inline-block;
	margin: 0 auto;
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst ul li.OHTxtFld #Email
{
	display:inline-block;
	margin-left:60px;
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst ul li.OHTxtFld #password
{
	display:inline-block;
	margin-left:15px;
}
input[type=textfield], select, placeholder{
    width: 100%;
    padding: 6px 20px 12px 20px;
    margin: 10px 0 18px 0;
    display: inline-block;
    border: 1px solid #141d35;
    border-radius: 24px;
    box-sizing: border-box;
	font-family: 'Muli';
	color:#2bb17f;
	font-size:18px;
}
input[type=textformfield]{
    width: 70%;
    padding: 6px 20px 12px 20px;
    margin: 10px 0 18px 0;
    display: inline-block;
    border: 1px solid #141d35;
    border-radius: 24px;
    box-sizing: border-box;
	font-family: 'Muli';
	color:#2bb17f;
	font-size:18px;
}
input[type=QNREtextfield]{
    width: 90%;
    padding: 6px 20px 12px 20px;
    margin: 10px 18px;
    display: inline-block;
    border: 1px solid #141d35;
    border-radius: 24px;
    box-sizing: border-box;
	font-family: 'Muli';
	color:#2bb17f;
	font-size:18px;
}
input[type=QNREtextarea]{
    width: 90%;
    padding: 6px 20px 60px 20px;
    margin: 10px 18px;
    display: inline-block;
    border: 1px solid #141d35;
    border-radius: 24px;
    box-sizing: border-box;
	font-family: 'Muli';
	color:#2bb17f;
	font-size:18px;
}
input[type=formtext]{
    width: 100%;
    padding: 6px 20px 12px 20px;
    margin: 10px 18px;
    display: inline-block;
    border: 1px solid #141d35;
    border-radius: 24px;
    box-sizing: border-box;
	font-family: 'Muli';
	color:#2bb17f;
	font-size:18px;
}
input[type=radio]{
	width:24px;
	height:24px;
	margin: 10px 10px 0 0;
	vertical-align: top;
	
}
div.QNRE div.TxtFieldSctn div.LftMenuLst div.FrmLstSctn ul li div.QNRETypes ul li.radio{
	border:1px solid#141d35;
	border-radius: 20px;
	background-color:#ffffff;
	display:inline-block;	
	
}
input[type=checkbox]{
	width:28px;
	height:28px;	
	margin: 6px 10px 0 0;	
	display:inline-block;
	vertical-align: top;
	border:1px solid#ff0000;
	background:#ffffff;
}

input[type=text], select, placeholder{
    width: 100%;
    padding: 6px 20px 12px 20px;    
    display: inline-block;
    border: 1px solid #141d35;
    border-radius: 24px;
    box-sizing: border-box;
	font-family: 'Muli';
	color:#2bb17f;
	font-size:18px;
}
input[type=tbltxtfld]{
    width:36px;
	height:36px;
    padding: 6px 2px 12px 2px;
    margin: 10px 10px;
    display: inline-block;
    border: 1px solid #141d35;   
    box-sizing: border-box;
	font-family: 'Muli';
	color:#2bb17f;
	font-size:18px;
	text-align: center;
}
input[type=submit]{    
    background-color:#2bb17f;
    color: #ffffff;
    padding: 6px 20px 12px 20px;    
    border: none;
    border-radius: 24px;
    cursor: pointer;
	font-family: 'Muli';
	font-size:18px;	
	display:inline-block;
	text-align: center;
}
input[type=agreebttn] {
    width:70%;
    background-color:#2bb17f;
    color: #ffffff;
    padding: 6px 0px 12px 0px;
	margin: 10px 0 10px 0;
    border: none;
    border-radius: 24px;
    cursor: pointer;
	font-family: 'Muli';
	font-size:18px;	
	display:inline-block;
	text-align: center;
}
input[type=agree],[type=dagree]{
    width: 70%;
    background-color:#2bb17f;
    color: #ffffff;
    padding: 6px 0 12px 0;    
    border: none;
    border-radius: 24px;
    cursor: pointer;
	font-family: 'Muli';
	font-size:18px;	
	display:inline-block;
	text-align: center;	
}
input[type=button]{
    width: 30%;
    background-color:#2bb17f;
    color: #ffffff;
    padding: 6px 0 12px 0;    
    border: none;
    border-radius: 24px;
    cursor: pointer;
	font-family: 'Muli';
	font-size:18px;	
	display:inline-block;
	text-align: center;	
}
input[type=sendbutton]{
    width: 15%;
    background-color:#2bb17f;
    color: #ffffff;
    padding: 6px 0 12px 0;    
    border: none;
    border-radius: 24px;
    cursor: pointer;
	font-family: 'Muli';
	font-size:18px;	
	display:inline-block;
	text-align: center;	
}
input[type=update]{
    
    background-color:#2bb17f;
    color: #ffffff;
    padding: 6px 0 12px 0;    
    border: none;
    border-radius: 24px;
    cursor: pointer;
	font-family: 'Muli';
	font-size:18px;	
	display:inline-block;
	text-align: center;	
}
input[type=placeorder]{
    
    background-color:#2bb17f;
    color: #ffffff;
    padding: 6px 0 12px 0;    
    border: none;
    border-radius: 24px;
    cursor: pointer;
	font-family: 'Muli';
	font-size:18px;	
	display:inline-block;
	text-align: center;	
}

table {
   border-collapse: collapse;
   width: 100%;
	
}

th, td {
    text-align: center;	
	font-family: 'Muli';	
	color:#2bb17f;
	width:13%;
	margin-left:1%;
	margin-right:1%;
}
td {
   	font-size:18px;
	padding: 40px 5px 87px 5px;
	border-top: 1px solid #141d35;
}
th {
   	font-size:20px;
	padding: 40px 5px 20px 5px;	
}

div.ProfileSctn div.ProfileLst div.RgtMenuLst .PDFrmFld{
	width:80%;
	display:inline-block;
	margin: 0 auto;	
	font-family: 'Muli';
	color:#2bb17f;
	font-size:24px;
	margin-left:10%;
	margin-right:10%;
	
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst .PDFrmFld ul li{
	font-family: 'Muli';
	color:#2bb17f;
	font-size:24px;
	list-style-type: none;
	padding:10px 0 10px 0;
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst .PDFrmFld ul{
	margin-left:-40px;
}

div.ProfileSctn div.ProfileLst div.RgtMenuLst div.div.ProfileSctn div.ProfileLst div.RgtMenuLst ul li.PDTxtFld{
	width:100%;
	display:inline-block;	
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst div.PDChkboxFld div.PDChkBox{
	width:30%;
	display:inline-block;	
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst div.PDChkboxFld div.SelDrpdwn{
	width:60%;
	display:inline-block;	
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst ul li.VisaDrpdwn
{
	width:50%;
	display:inline-block;
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst ul {
	margin-left:-40px;
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst ul li.TxtFld
{
	width:49%;
	display:inline-block;
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst div.TxtCntnt{
    overflow-y: scroll;
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst div.TxtCntnt span.TtlTxt
{
	display:inline-block;
	font-size:24px;
	font-family: 'Muli';
	color:#2bb17f;	
	padding:20px;
	text-align: left;
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst div.TxtCntnt span.InnerTxt
{
	display:inline-block;
	font-size:24px;
	font-family: 'Muli';
	color:#2bb17f;	
	text-align: justify;
	padding: 0 20px 0 20px;	
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst div.TCBttns
{
	width:100%;
	display:inline-block;	
	text-align: center;	
	margin: 100px 0 92px 0;
}

div.ProfileSctn div.ProfileLst div.RgtMenuLst div.TCBttns div.LftBttn, div.ProfileSctn div.ProfileLst div.RgtMenuLst div.TCBttns div.RgtBttn
{
	width:50%;
	display:inline-block;
	text-align: center;
	
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst div.TCBttns div.LftBttn div.BttnHldr div.dagree, div.ProfileSctn div.ProfileLst div.RgtMenuLst div.TCBttns div.RgtBttn div.BttnHldr div.agree
{
	width:50%;
	display:inline-block;
	text-align: center;
	
}
div.ProductSctn div.ProductCntnt{
	width:100%;
	margin: 0 auto;
	
}
div.ProductSctn div.PrdctCntnt div.MnTitle span.HdrTtl{
	display:block;
	color:#141d35;
	font-family: 'Arsenal';
	font-size:38px;	
	text-align: center;
	padding: 40px 0 40px 0;
}
div.ProductSctn div.PrdctCntnt div.MnTitle span.MnTitleItalic{
	font-style: italic;
	color:#141d35;
	font-family: 'Arsenal';
	font-size:38px;	
	
}
div.ProductSctn div.PrdctCntnt div.MnSubTitle span.HdrSubTtl{
	display:block;
	color:#2bb17f;
	font-family: 'Arsenal';
	font-size:22px;	
	text-align: center;
	padding-bottom: 60px;
}
div.ProductSctn div.PrdctCntnt div.PrdctLstCntnt{		
	width:100%;	
	display:block;
}
div.ProductSctn div.PrdctCntnt div.PrdctLstCntnt div.PrdctLst{	
	display: inline-block;	
	border :1px solid#141d35;
	margin-bottom:60px;
	padding:30px;
}
div.ProductSctn div.PrdctCntnt div.PrdctLstCntnt div.PrdctLst div.PrdctIcon{
	width:20%;
	display: inline-block;	
}
div.ProductSctn div.PrdctCntnt div.PrdctLstCntnt div.PrdctLst div.PrdctTxtCntnt{
	width:80%;
	display: inline-block;
	vertical-align: top;
}
div.ProductSctn div.PrdctCntnt div.PrdctLstCntnt div.PrdctLst div.PrdctIcon img{	
	display: inline-block;
	vertical-align: bottom;
}
div.ProductSctn div.PrdctCntnt div.PrdctLstCntnt div.PrdctLst div.PrdctTxtCntnt div.PrdctLstTtl
{
	text-align: center;
	vertical-align: top;	
	width:100%;
}

div.ProductSctn div.PrdctCntnt div.PrdctLstCntnt div.PrdctLst div.PrdctTxtCntnt div.PrdctLstTtl span.TtlTxtCntnt
{
	color:#141d35;
	font-family: 'Arsenal';
	font-size:24px;		
}

div.ProductSctn div.PrdctCntnt div.PrdctLstCntnt div.PrdctLst div.PrdctTxtCntnt div.PrdtLstInnerTtl span.InnerTxtCntnt{
	color:#141d35;
	font-family: 'Muli';
	font-size:18px;	
	vertical-align: top;
	text-align: justify;
	line-height:30px;
	
}
div.Rezyplatform div.RFCntnt
{
	width:100%;
	display: block;
}
div.Rezyplatform div.RFCntnt div.RFTtl{
	
	text-align: center;
	display: block;
	padding:20px 0 20px 0;
	border-bottom:1px solid#141d35;
}

div.Rezyplatform div.RFCntnt div.RFTtl span.RFTtlTxtCntnt
{
	color:#141d35;
	font-family: 'Arsenal';
	font-size:24px;	
}
div.Rezyplatform div.RFCntnt div.RFTxtCntnt {
	width:100%;
	display: inline-block;
	padding-bottom:40px;
}
div.Rezyplatform div.RFCntnt div.RFTxtCntnt div.RFLftTxtCntnt, div.REZY24 div.RFCntnt div.RFTxtCntnt div.RFLftTxtCntnt{
	width:50%;
	display: inline-block;
}
div.Rezyplatform div.RFCntnt div.RFTxtCntnt div.RFRgtTxtCntnt, div.REZY24 div.RFCntnt div.RFTxtCntnt div.RFRgtTxtCntnt {
	width:50%;
	display: inline-block;
	vertical-align: top;
}

div.Rezyplatform div.RFCntnt div.RFTxtCntnt div.RFLftTxtCntnt span.InnerTxtCntnt, div.REZY24 div.RFCntnt div.RFTxtCntnt div.RFLftTxtCntnt span.InnerTxtCntnt{
	color:#141d35;
	font-family: 'Muli';
	font-size:18px;	
	vertical-align: top;
	text-align: left;
	display:inline-block;
	padding: 20px 20px 20px 0;
}
div.Rezyplatform div.RFCntnt div.RFTxtCntnt div.RFRgtTxtCntnt span.InnerTxtCntnt, div.REZY24 div.RFCntnt div.RFTxtCntnt div.RFRgtTxtCntnt span.InnerTxtCntnt{
	color:#141d35;
	font-family: 'Muli';
	font-size:18px;	
	vertical-align: top;
	text-align: left;
	display:inline-block;
	padding: 20px 0 20px 20px;	
}
div.Rezyplatform div.REZYFeatures div.RFTtl{
	
	text-align: center;
	display: block;
	padding:20px 0 20px 0;
	border-bottom:1px solid#141d35;
}
div.Rezyplatform div.REZYFeatures div.RFTtl span.RFTtlTxtCntnt
{
	color:#141d35;
	font-family: 'Arsenal';
	font-size:24px;	
}
div.Rezyplatform div.REZYFeatures, div.REZY24 div.REZYFeatures{
	width:100%;
	display:inline-block;
}
div.Rezyplatform div.REZYFeatures div.RFtrsCntnt, div.REZY24 div.REZYFeatures div.RFtrsCntnt{
	width:33.33%;
	display:inline-block;
	vertical-align: top;
	padding: 10px 0 30px 0;
}

div.Rezyplatform div.REZYFeatures div.RFtrsCntnt ul.RFTxtLst, div.REZY24 div.REZYFeatures div.RFtrsCntnt ul.RFTxtLst{
	margin-left:-40px;
	
}
div.Rezyplatform div.REZYFeatures div.RFtrsCntnt ul li, div.REZY24 div.REZYFeatures div.RFtrsCntnt ul li{
	list-style-type: none;
	color:#2bb17f;
	font-family: 'Muli';
	font-size:18px;
	padding: 10px;
	text-align: center;	
}

div.ProfileSctn div.ProfileLst div.LftMenuLst ul li a.active
{
	color:#2bb17f;	
}
div.Rezy24BG{
width:100%;
height:540px;
background-image:url(../images/REZYbg.jpg);
background-size: cover;
background-repeat: no-repeat;
}
div.REZY24
{
	width:100%;
	display:block;
	margin: 0 auto;
	
}
div.REZY24 div.REZYLogo{
	padding: 30px 0 30px 0;
	text-align: center;
}
div.REZY24 div.RFCntnt div.RFTtl span.RFTtlTxtCntnt
{
	color:#141d35;
	font-family: 'Arsenal';
	font-size:24px;	
	
}
div.REZY24 div.RFCntnt div.RFTtl{
	
	text-align: center;
	display: block;
	padding:0 0 20px 0;
	border-bottom:1px solid#141d35;
}
div.RezyWrapper {
	background-color:#ffffff;
	max-width:1146px;
	height:auto;
	width:100%;
	margin: 0 auto;
	margin-top:60px;
	margin-bottom:60px;
    border: 1px solid#000000;
}
div.div.REZYFC
{
	width:100%;
	margin: auto;
}
div.REZYFC div.REZYFCCntnt div.REZYTtlSctn{
	width:100%;
	display:block;
	text-align: center;
	padding: 40px 0 20px 0;
	border-bottom: 1px solid#141d35;
}
div.REZYFC div.REZYFCCntnt div.REZYTtlSctn span.REZYTtl{
	color:#141d35;
	font-family: 'Arsenal';
	font-size:24px;
	
}
div.REZYFC div.REZY24InnerCntnt{
	width:100%;
	display:block;
	text-align: center;
	padding: 20px 0 20px 0;	
}
div.REZYFC div.REZY24InnerCntnt span.REZY24InnerTxt
{
	color:#141d35;
	font-family: 'Arsenal';
	font-size:24px;		
	display:inline-block;
	width:100%;
	text-align: center;
}
div.REZYFC
{
	margin: 0 auto;
}
div.REZYFC div.FCLstCntnt
{
	width:100%;
	display:block;
	padding-bottom: 20px;
}
div.div.REZYFC div.FCLstCntnt div.FCTtlSctn
{
	width:100%;
	display:inline-block;
	text-align: center;
}
div.REZYFC div.FCLstCntnt div.FCTtlSctn span.FCLstTtl
{
	color:#141d35;
	font-family: 'Arsenal';
	font-size:24px;		
	display:block;
	text-align: center;
	padding: 40px 0 20px 0;
	
}
div.REZYFC div.FCLstCntnt div.FCLst{
	width:33.33%;
	display:inline-block;
	vertical-align: top;
}
div.REZYFC div.FCLstCntnt div.FCLst ul{
	
	display:inline-block;
	color:#141d35;
	font-family: 'Muli';
	font-size:18px;	
}
div.ProfileLst div.RgtMenuLst div.BttnHldr{
	width:100%;	
	text-align: center;	
}
div.REZYFC div.BttnHldr{
	width:100%;	
	text-align: center;
	padding: 40px 0 80px 0;
	display:none;
}
div.REVORD
{
	width:100%;
	display: inline-block;	
}
.Chkbox{
	width:48px;
	height:48px;
	border:1px solid#141d35;
	display:inline-block;
	vertical-align: middle;	
}
div.REVORD div.RevLst div.REVORDTtlSctn, div.QNRE div.REVORDTtlSctn
{
	width:100%;
	display:inline-block;
	text-align: center;
	
}
div.REVORD div.RevLst div.REVORDLftTtlSctn, div.QNRE div.REVORDLftTtlSctn
{
	width:5%;
	display:inline-block;
	text-align: center;
	
}
div.REVORD div.RevLst div.REVORDRgtTtlSctn, div.QNRE div.REVORDRgtTtlSctn
{
	width:95%;
	display:inline-block;
	text-align: center;
	vertical-align: top;
	
}
div.REVORD div.RevLst div.REVORDTtlSctn div.REVORDLftTtlSctn span.RevLstTtl, div.REVORD div.RevLst div.REVORDTtlSctn div.REVORDRgtTtlSctn span.RevLstTtl, div.QNRE div.REVORDTtlSctn div.REVORDLftTtlSctn span.RevLstTtl, div.QNRE div.REVORDTtlSctn div.REVORDRgtTtlSctn span.RevLstTtl
{
	color:#141d35;
	font-family: 'Arsenal';
	font-size:40px;		
	display:block;
	text-align: center;
	padding: 80px 0 40px 0;	
}

div.REVORD div.RevLst div.RWTblCntnt, div.ProfileSctn div.ProfileLst div.RgtMenuLst div.RWTblCntnt{
	width:100%;	
	margin:0;
}
div.REVORD div.RevLst div.RWTblCntnt div.RWTblHdrHeading, div.ProfileSctn div.ProfileLst div.RgtMenuLst div.RWTblCntnt div.RWTblHdrHeading{
	width:100%;
	display:inline-block;	
	margin:0;
	padding-top:40px;
}
div.REVORD div.RevLst div.RWTblCntnt div.RWTblHdrHeading span.InnerTxt{
	color:#2bb17f;
	font-family: 'Muli';
	font-size:18px;	
	vertical-align: top;
	width:19.6%;
	display:inline-block;	
	padding:20px 0 20px 0;
	text-align: center;
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst div.RWTblCntnt div.RWTblHdrHeading span.InnerTxt{
	color:#2bb17f;
	font-family: 'Muli';
	font-size:18px;	
	vertical-align: top;
	width:19.5%;
	display:inline-block;	
	padding:20px 0 20px 0;
	text-align: center;
}
div.REVORD div.RevLst div.RWTblCntnt div.RWTblHdr, div.ProfileSctn div.ProfileLst div.RgtMenuLst div.RWTblCntnt div.RWTblHdr{
	width:100%;
	display:inline-block;	
	margin:0;
	border-top:1px solid#141d35;
}
div.REVORD div.RevLst div.RWTblCntnt div.RWTblHdr span.InnerTxt, div.ProfileSctn div.ProfileLst div.RgtMenuLst div.RWTblCntnt div.RWTblHdr span.InnerTxt{
	color:#2bb17f;
	font-family: 'Muli';
	font-size:18px;	
	width:19.6%;
	display:inline-block;	
	padding:40px 0 60px 0;
	text-align: center;
	vertical-align: top;
}
div.REVORD div.RevLst div.RWTblCntnt div.RWTblHdr span.InnerTxtdummy{
	color:#2bb17f;
	font-family: 'Muli';
	font-size:18px;	
	width:19.6%;
	display:inline-block;	
	padding:40px 0 60px 0;
	text-align: center;
}
div.ProfileSctn div.ProfileLst div.RgtMenuLst div.RWTblCntnt div.RWTblHdr span.InnerTxt{
	color:#2bb17f;
	font-family: 'Muli';
	font-size:18px;	
	width:19.5%;
	display:inline-block;	
	padding:40px 0 60px 0;
	text-align: center;
	vertical-align: top;
}
div.QNRE div.REVORDSubTtlSctn{
	width:100%;
	display:block;
	text-align: center;
	padding-bottom:60px;
}
div.QNRE div.REVORDSubTtlSctn span.REVORDSubTtl{
	color:#141d35;
	font-family: 'Muli';
	font-size:24px;
}
div.QNRE div.TxtFieldSctn
{
	width:100%;
	display: inline-block;	
}
div.QNRE div.TxtFieldSctn div.LftMenuLst
{
	width:47%;
	display: inline-block;	
	margin-right:3%;	
}
div.QNRE div.TxtFieldSctn div.RgtMenuLst
{
	width:50%;	
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;	
}
div.QNRE div.TxtFieldSctn div.RgtMenuLst .QNREFrmFld{
	width:100%;
	margin: 0 auto;	
	font-family: 'Muli';
	color:#2bb17f;
	font-size:24px;		
}
div.QNRE div.TxtFieldSctn div.RgtMenuLst div.FrmLstSctn div.QNREInv{
	padding:40px 0 40px 0;	
}
div.QNRE div.TxtFieldSctn div.RgtMenuLst span.QNREFrmTtl{
	width:100%;
	margin: 0 auto;	
	font-family: 'Muli';
	color:#2bb17f;
	font-size:24px;	
}

div.QNRE div.TxtFieldSctn div.LftMenuLst .QNREFrmFld ul li, div.QNRE div.TxtFieldSctn div.RgtMenuLst .QNREFrmFld ul li{
	font-family: 'Muli';
	color:#2bb17f;
	font-size:24px;
	list-style-type: none;
	padding-bottom:40px;
	
}
div.QNRE div.TxtFieldSctn div.LftMenuLst .QNREFrmFld ul.LstTxtFld, div.QNRE div.TxtFieldSctn div.RgtMenuLst .QNREFrmFld ul.LstTxtFld{
	margin-left:-40px;
}
div.QNRE div.TxtFieldSctn div.LftMenuLst div.FrmLstSctn, div.QNRE div.TxtFieldSctn div.RgtMenuLst div.FrmLstSctn{
	width:100%;    
}
div.QNRE div.TxtFieldSctn div.LftMenuLst div.FrmLstSctn .QNRETypes ul li, div.QNRE div.TxtFieldSctn div.RgtMenuLst div.FrmLstSctn .QNRETypes ul li{
	padding:20px 0 10px 0;   
}
div.QNRE div.BttnHldr{
	width:100%;	
	text-align: center;
}
div.QNRE div.TxtFieldSctn div.RgtMenuLst div.FrmLstSctn div.QNREInv span.QNREInvTtl{
	width:100%;
	margin: 0 auto;	
	font-family: 'Muli';
	color:#2bb17f;
	font-size:24px;	
	padding-top:60px;
	display:block;
}
div.QNRE div.QNREInv {
	width:100%;
	display:inline-block;
	
}
div.QNRE div.QNREInv div.QNRELftInvLst
{
	width:50%;
	display:inline-block;
	vertical-align: top;
}
div.QNRE div.QNREInv div.QNRERgtInvLst
{
	width:50%;
	display:inline-block;
	vertical-align: top;
}

div.QNRE div.QNREInv div.QNRELftInvLst ul.QNRELst, div.QNRE div.QNREInv div.QNRERgtInvLst ul.QNRELst {
	font-family: 'Muli';
	color:#2bb17f;
	font-size:24px;	
	list-style-type: none;
	vertical-align: top;
}
div.QNRE div.QNREInv div.QNRELftInvLst ul.QNRELst li, div.QNRE div.QNREInv div.QNRERgtInvLst ul.QNRELst li {
	padding: 10px 0 10px 0;
}
div.QNRE div.QNREUpload div.ChseFile{
    width:100%;
}
div.QNRE div.QNREUpload span.QNREInvTtl{
    display: block;
    width: auto;
    font-size: 24px;
    margin-top: 30px;
    color:#2bb17f;
	font-family: 'Muli';
}
div.REVORDBttnSctn
{
	width:100%;
	display:inline-block;
	margin: 0 auto;
	padding: 60px 0 60px 0;
}
div.REVORDBttnSctn div.REVORDLftBttnSctn
{
	width:5%;
	display:inline-block;
	text-align: center;
}
div.REVORDBttnSctn div.REVORDLftBttnSctn span.RevLstTtl
{
	font-size:40px;
	color:#141d35;;
	font-family: 'Arsenal';
}
div.REVORDBttnSctn div.REVORDRgtBttnSctn
{
	width:95%;
	display:inline-block;
	text-align: center;
	vertical-align: top;
	
}
div.REVORDBttnSctn div.BttnHldr{
	width:100%;
	text-align: center;
	vertical-align: top;
}
div.BttnHldr{
	width:100%;
	text-align: center;
	vertical-align: top;
}
div.REZY24 div.REZY100Lst{
	width:100%;
	display:inline-block;
}
div.REZY24 div.REZY100Lst div.RFtrsCntnt{	
	display:inline-block;
	vertical-align: top;	
	width:100%;
}

div.REZY24 div.REZY100Lstdiv.RFtrsCntnt ul.RFTxtLst{
	margin-left:-40px;
	
}
div.REZY24 div.REZY100Lst div.RFtrsCntnt ul li{
	list-style-type: none;
	color:#2bb17f;
	font-family: 'Muli';
	font-size:18px;
	padding: 5px;
	text-align: center;
	
}
div.Rezy100BG{
width:100%;
height:540px;
background-image:url(../images/REZY100.jpg);
background-size: cover;
background-repeat: no-repeat;
}
div.Rezy360BG{
width:100%;
height:540px;
background-image:url(../images/REZY360.jpg);
background-size: cover;
background-repeat: no-repeat;
}
div.REZYFC div.REZYSubTtlSctn{
	width:100%;
	display:block;
	text-align: center;
	padding: 10px 0 30px 0;
}
div.REZYFC div.REZYSubTtlSctn span.REZYSubTtl{
	color:#141d35;
	font-family: 'Muli';
	font-size:18px;	
}
div.SrvcsSctn{
	width:100%;	
}
div.SrvcsCntnt, div.ContactCntnt, div.OfficesCntnt
{
	width:100%;
	display:block;
	margin: 0 auto;	
}
div.SrvcsCntnt div.SoftmgmtLogo, div.ContactCntnt div.ContactLogo, div.OfficesCntnt div.OfficesLogo{
	padding-top: 30px;
	text-align: center;
}
div.SrvcsCntnt div.SrvcsCntnt div.SrvcsTtl span.SrvcsTxtCntnt, div.ContactCntnt div.ContactCntnt div.ContactTtl span.ContactTxtCntnt, div.OfficesCntnt div.OfficesTtl span.OfficesTtlTxtCntnt
{
	color:#2bb17f;
	font-family: 'Arsenal';
	font-size:24px;
	
}
div.SrvcsCntnt div.SrvcsCntnt div.SrvcsTtl, div.ContactCntnt div.ContactCntnt div.ContactTtl, div.OfficesCntnt div.OfficesTtl{
	
	text-align: center;
	display: block;
	padding:0 0 20px 0;
	border-bottom:1px solid#141d35;
}
div.SrvcsCntnt div.SrvcsCntnt div.SrvcsTxtCntnt {
	width:100%;
	display: inline-block;
	padding-bottom:42px;
}
div.SrvcsCntnt div.SrvcsCntnt div.SrvcsTxtCntnt div.SrvcsSubTtl span.SrvcsSubTxtCntnt {
	width:100%;
	display: inline-block;
	padding:20px 0 20px 0;
	color:#141d35;
	font-family: 'Muli';
	font-size:18px;	
	text-align: center;
}
div.SrvcsCntnt div.SrvcsCntnt div.SrvcsTxtCntnt div.SrvcsLstCntnt{
	width:100%;
	display: inline-block;
}
div.SrvcsCntnt div.SrvcsCntnt div.SrvcsTxtCntnt div.SrvcsLstCntnt ul li{
	width:100%;
	color:#2bb17f;
	font-family: 'Muli';
	font-size:18px;	
	text-align: center;
	list-style-type: none;	
}
div.SrvcsCntnt div.SrvcsCntnt div.SrvcsTxtCntnt, div.OfficesCntnt div.OfficesTxtCntnt {
	width:100%;
	display: inline-block;	
}
div.SrvcsCntnt div.SrvcsCntnt div.SrvcsTxtCntnt div.SrvcsCntntTxt {
	width:33.33%;
	display: inline-block;
	vertical-align: top;
	padding-top:20px;
}

div.SrvcsCntnt div.SrvcsCntnt div.SrvcsTxtCntnt div.SrvcsCntntTxt span.InnerTxtCntnt{
	color:#141d35;
	font-family: 'Muli';
	font-size:18px;	
	vertical-align: top;
	text-align: left;
	display:inline-block;
	padding: 10px;	
}
div.SrvcsCntnt div.SrvcsCntnt div.SrvcsTxtCntnt div.SrvcsCntntTxt div.SrvcsCntntTxtTtl span.SrvcsTxtCntntTtl
{
	color:#2bb17f;
	font-family: 'Arsenal';
	font-size:24px;
	margin: 20px 0 0 10px;
	display:block;
	
}
div.CntctFrm{
	width:100%;
	display:inline-block;
	margin: 0 auto;
	padding-top:40px;
}

div.CntctFrm .name, .email{
display:inline-block;
font-family: 'Muli';
font-size:18px;	
color:#141d35;
width:47%;
margin-right:2%;
}
div.CntctFrm .subject
{
display:inline-block;
font-family: 'Muli';
font-size:18px;	
color:#141d35;
width:97%;
}
div.CntctFrm .message
{
display:inline-block;
font-family: 'Muli';
font-size:18px;	
color:#141d35;
width:97%;
}
#message, #name, #email, #subject{	
	margin-left:-5px;
}
#message{	
	padding-bottom:60px;
}
div.CntctFrm .FrmLst{
	margin-left:-40px;
}
div.Contact div.BttnHldr{
	width:100%;	
	text-align: left;
	padding: 10px 0 80px 0;
}
div.OfficesCntnt{
	padding-bottom: 82px;
}
div.OfficesCntnt div.OfficesTxtCntnt div.OfficesCntntTxt {
	width:33.33%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-top:91px;
}
div.OfficesCntnt div.OfficesTxtCntnt div.OfficesCntntTxt span.InnerTxtCntnt{
	color:#141d35;
	font-family: 'Muli';
	font-size:18px;	
	vertical-align: top;
	text-align: center;
	display:inline-block;		
}
div.OfficesCntnt div.OfficesTxtCntnt div.OfficesCntntTxt div.OfficesSubTtl span.OfficesSubTtlCntnt{
	color:#141d35;
	font-family: 'Muli';
	font-size:18px;	
	vertical-align: top;
	text-align: center;
	display:inline-block;		
	padding-bottom:20px;
}
div.OfficesCntnt div.OfficesTxtCntnt div.OfficesCntntTxt div.OfficesCntntTxtTtl span.OfficesTxtCntntTtl
{
	color:#2bb17f;
	font-family: 'Arsenal';
	font-size:34px;
	margin: 20px 0 0 20px;
	display:block;
	
}
div.QNRE div.TxtFieldSctn div.RgtMenuLst div.QNREChoseUpload, div.QNRE div.TxtFieldSctn div.RgtMenuLst div.QNREanotherUpload
{
	width:100%;
	display:inline-block;
	margin-top:40px;
}
#my-button, #upload{
	font-family: 'Muli';
	font-size:24px;
    position: absolute;    
    background: #2bb17f;
    padding:  6px 20px 12px 20px;
    display:inline-block;
    text-align: center;
    left: 332px;
	
    top: 0px;
    z-index: 1;
	color:#ffffff;
	border-radius:24px;
	
}

#file-upload-cont, #file-anotherupload-cont{
    position: relative;
	vertical-align: middle;	
	width:100%;
}

#overlay{
 position: absolute;
 z-index: 1;
left: 0;
padding: 20px 30px 20px 30px;
border-radius:24px;
width:50%;
border: 1px solid#141d35;
	
}

#addanotherfile{
 position: absolute;
 z-index: 1;
left: 0;
padding: 6px 30px 12px 30px;
border-radius:24px;
width:50%;	
background-color:#2bb17f;
border:none;
font-family: 'Muli';
font-size:24px;	
color:#ffffff;	
}

#original{
    opacity: 0;
    position: relative;
    z-index: 100;
	width:98%;
}
#anotheroriginal{
    opacity: 0;
    position: relative;
    z-index: 100;
	width:70%;
}
.file{
	border: 1px solid#141d35;
	background:#ffffff;
	padding-bottom:20px;
}
div.TCSctn div.TCCntnt{
	padding-bottom:40px;
}
div.TCSctn div.TCCntnt div.MnTtlSctn{
	width:100%;
	text-align: center;	
	border-bottom: 1px solid#141d35;
}
div.TCSctn div.TCCntnt div.MnTtlSctn span.TCTtl{
	font-family: 'Arsenal';
	font-size:24px;	
	color:#141d35;
	text-align: center;	
}
div.TCSctn div.TCCntnt div.MnTtlSctn{
	padding:40px 0 20px 0;
	
}
div.TCSctn div.TCCntnt div.TCInnerTxt{
	width:100%;
	display:block;
	padding-top:10px;
}
div.TCSctn div.TCCntnt div.TCInnerTxt span.InnerTxt{
	font-family: 'Muli'; 
	font-size:18px;
	color:#141d35;
	display:block;
	padding: 10px 0 10px 0;	
	text-align: justify;
}
div.TCSctn div.TCCntnt div.TCInnerTxt div.TCInnerTxtLst span.InnerTxt{
	font-family: 'Muli'; 
	font-size:18px;
	color:#141d35;
	display:block;
	padding: 10px 0 10px 0;
	line-height:24px;
	text-align: justify;
}
div.TCSctn div.TCCntnt div.TltSctn{	
	padding-top: 20px;
}
div.TCSctn div.TCCntnt span.InnerTxt div.TCInnerTxtLst ul li{	
	list-style-type: none;
	padding-top:10px;
}
div.TCSctn div.TCCntnt div.TltSctn span.LstTitle{	
	color:#2bb17f;		
	text-align: center;
	font-family: 'Arsenal';
	font-size:24px;	
}
div.CntctFrm {
    display: none;    
}
div.ContactCntnt div.ContactLogo{  
    display: none;    
}
div.ContactCntnt div.ContactCntnt div.ContactTtl{
	display: none; 
}
div.Contact div.BttnHldr {
    display: none;
}
div.Footer{
	width:100%;	
	background-color:#141d35;
	padding:20px 0 10px 0;
}
div.Footer div.MobilefooterSctn{
	display:none;
}
div.Footer div.footerSctn div.LftFooterSctn
{
	width:20%;
	display:inline-block;	
}

div.Footer div.footerSctn div.LftFooterSctn a
{
	text-decoration: none;
}
div.Footer div.footerSctn div.MiddleFooterSctn
{
	width:60%;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
}
div.Footer div.footerSctn div.RgtFooterSctn
{
	width:20%;
	display:inline-block;
	text-align: right;
}
div.Footer div.footerSctn div.RgtFooterSctn ul li
{
	list-style-type:none;
	display:inline;
	margin-left:10px;
	
}
div.Footer div.footerSctn div.LftFooterSctn span.FtrLst, div.Footer div.footerSctn div.MiddleFooterSctn span.FtrLst
{
	color:#ffffff;
	font-family: 'Muli';
	font-size:14px;
}
